.gallery-list {
  padding-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-inline: auto;
}

.gallery-item {
  width: 360px;
  flex-basis: calc((100% - 48px) / 3);
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.gallery-item:hover {
  scale: 104%;
}

.gallery-image {
  object-fit: cover;
}

.img-wrapper {
  max-width: 360px;
}

.gallery-item-info {
  height: 48px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.gallery-item-info > li {
  display: flex;
  flex-direction: column;
}
